
.hero {
    position: relative;
    width: 100%;
    padding: 4rem 0;
    min-height: 200px;

    &--fullscreen {
        padding-top: 8rem;
        height: 100vh;
    }
  
    &--primary {
        background-color: #ffffff;
    }

    &--secondary {
        background-color: #b5cc18;
    }

    &--inverse {
        color: #ffffff;
        background-color: #1b1c1d;
    }  
    
    .ui.huge.header {
        font-size: 4rem;
    }
}