
.container {
    position: relative;
    width: 100%;
    padding: 2rem 0;

    &--fullscreen {
        height: 100vh;
    }
  
    &--primary {
        background-color: white;
    }

    &--secondary {
        background-color: green;
    }

    &--inverse {
        color: white;
        background-color: darkslategray;
    }
}