
.container {
    position: relative;

    &--fullscreen {
        .container-content {
            width: 100%;
            height: 100vh;
        }
    }
  
    &-content {
      padding: 2rem 0;
  
      &--primary {
        background-color: white;
      }
  
      &--secondary {
        background-color: green;
      }

      &--inverse {
        color: white;
        background-color: darkslategray;
      }
    }
  }