
.container {
    position: relative;
  
    &-content {
      padding-top: 2rem;
      width: 100%;
      height: 100vh;
  
      &--primary {
        background-color: white;
      }
  
      &--secondary {
        background-color: green;
      }

      &--inverse {
        color: white;
        background-color: darkslategray;
      }
    }
  }