.App {
  text-align: center;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  height: 2rem;
}

.container {
  position: relative;

  &-content {
    padding-top: 2rem;
    width: 100%;
    height: 100vh;

    &--green {
      background-color: green;
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
